<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>サイトクローズのお知らせ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
    <body>
        <div class="container">
            <div class="header-logo">
                <img src="{{ url_for('static', filename='images/header-logo.avif') }}" alt="RHSC2025 Tokyo Virtual Machine Deployment">
            </div>
            <main>
                <h1>『誰でも簡単VMローンチ！』イベントは終了しました！</h1>
            </main>
            <div class="rules-container ">
                <h3>
                    ご来場、そして当イベントへのご関心をお寄せいただき、誠にありがとうございます。
                    おかげさまで、イベントは大盛況のうちに幕を閉じることができました。
                    皆様との貴重な交流を通じて、私たちも多くの学びを得ることができました。
                    その学びを今後の活動に活かし、さらに良いものを生み出していけたらと思います。
                    <br>
                    この素晴らしいご縁に、展示メンバー一同、心より感謝申し上げます。またお会いできる日を楽しみにしております。
            </div>

            <footer>
                <p>&copy; RHSC 2025 Tokyo Team Virt-Neo Squad V8</p>
            </footer>

        </div>
    </body>
</html>