<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>サイトクローズのお知らせ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
    <body>
        <div class="container">
            <div class="header-logo">
                <img src="{{ url_for('static', filename='images/header-logo.avif') }}" alt="RHSC2025 Tokyo Virtual Machine Deployment">
            </div>
            <main>
                <h1>『誰でも簡単VMローンチ！』イベントは終了しました！</h1>
                <p>ご来場いただき、またイベントへ参加しただき、誠にありがとうございました！</p>
                <p>また次会、どこかでお会いしましょう。</p>
            </main>

            <footer>
                <p>&copy; RHSC 2025 Tokyo Team Virt-Neo Squad V8</p>
            </footer>

        </div>
    </body>
</html>